<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gim-On</title>
  <link rel="stylesheet" href="style.aed0bf27bae4d787776a.css?fbd66fe468f5ca26a4b4">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
</head>

<body>
  <div id="app">
    <div v-if="!isLoggedIn" class="request-form">
      <h2>Image Uploader</h2>
      <input class="request-form__item" type="email" v-model="email" name="email" id="email" placeholder="Email">
      <input class="request-form__item" type="text" v-model="name" name="name" id="name" placeholder="Name">
      <button class="request-form__item" @click="requestToken">Request Token</button>
    </div>

    <div v-if="isLoggedIn" class="main">
      <div class="upload-form">
        <h3>Upload Image</h3>
        <input class="upload-form__item" type="file" ref="file" @change="handleFileUpload" name="image" id="image">
        <button  class="upload-form__item" @click="submitFile">Upload</button>
      </div>
  
      <div class="cards-container">
        <div v-for="image in images" class="card">
          <img v-bind:src="image.url" alt="image.url">
          <p>Author Email : {{ image.user.email }}</p>
          <p>Author Name : {{ image.user.name }}</p>
        </div>
      </div>
    </div>
    </div>

  <script src='main.9b6ed12ac6e1222dc6b7.js?fbd66fe468f5ca26a4b4'></script>
</body>

</html>